body{
	background-color:#CBE4DE;
	color:#fff;
	
}

#topic{
    background-size:cover;
    height:100vh;
    background-position:center;
    background-color:#000;
    background-repeat:no-repeat;
    background-attachment:fixed;  
}

#topic h1{
    font-size:80px;
    font-weight:500;
    text-align: center;
    padding-top: 280px;
    color:#2C3333;
    font-family:"Playfair Display","Open Sans", "sans-serif";
}

h2{
  font-size:30px;
  color:#2C3333;
  font-family:"Playfair Display","Open Sans", "sans-serif";
  font-weight:500;
}

h3{
  font-size:25px;
  color:#2C3333;
  font-family:"Playfair Display","Open Sans", "sans-serif";
  font-weight:500;

}

p{
  font-size:16px;
  line-height: 25px;
  color: #2C3333;
  font-family:"Open Sans", Sans-serif;
}

/* navigation bar styling */

nav {
    position: fixed;
    display: flex;
    width: 100%;
    top: 0px;
	left: 0px;
    height: 100px;
    background-color: #2C3333;
    z-index:2;
}

#logo {
    margin-left: 2%;
	top: 0px;
    width: 100px;
    height: 100px;
    clear: both;
}

a {
    text-decoration: none;
    padding-left: 3%;
    margin-top: 50px;
    color: white;
}

a:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-position: under;
    text-decoration-color: white;
}



/* back to top button */

.back-to-top a{
    padding: 20px;
    background-color:#2C3333;
	border-radius: 35px;
}

.back-to-top i{
    color: white;
    cursor: pointer;
}

.back-to-top{
    position: fixed;
    bottom: 25px;
    right: 5px;
    z-index:10;
}

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	
}

.footer {
	clear:both;
  padding: 40px 0;
  background-color: #2C3333;
   box-sizing: border-box;
   padding-left:-10px;
}
.footer .social {
  text-align: center;
  padding-bottom: 25px;
  color: white;
}
.footer .social a {
  font-size: 24px;
  color: inherit;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.75;
}
.footer .social a:hover {
  opacity: 0.9;
}
.footer ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}
.footer ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}
.footer ul li {
  display: inline;
  padding: 0 15px;
}
.footer ul a:hover {
  opacity: 1;
}
.footer .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
}